@model Asp_Net_FinalProject.Models.User

<title>會員登入</title>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>會員登入</h2>
                    <p>歡迎回來，Posthub~</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li>會員登入</li>
            </ol>
        </div>
    </nav>
</div> @*End Breadcrumbs*@ 
<section>
   
    @*<div class="section-header">
        <h2>會員登入</h2>
    </div>*@
    <div class="login-container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5 sections-bg">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    @*<h3 class="text-center mb-4">會員登入</h3>*@
                    <form method="post" action="@Url.Action("Login")" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" required name="Email">
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control" placeholder="Password" required name="Password">
                        </div>
                        <div class="form-group">
                            <div style="text-align:center">
                                <p class="text-danger">@ViewBag.Error</p>
                                還沒有帳號？<a href="@Url.Action("Create")">建立新帳號</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success rounded submit p-3 px-5" value="登入" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>